spring.mongodb.uri=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/internship_db?retryWrites=true&w=majority

app.jwt.secret=REPLACE_WITH_A_LONG_RANDOM_STRING_AT_LEAST_32_CHARS
app.jwt.expiration=3600000 # 1 hour